*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: url("https://images.unsplash.com/photo-1565118531796-763e5082d113?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  background-color: rgba(193, 209, 190, 0.932);
  border-radius: 20px;
  margin-top: 180px;

}
.text{
  color: rgb(101, 106, 170);
  font-size:3vw;
  font-family: 'Bree Serif', serif;
}
.text-center{
  color: rgb(207, 105, 204);
  font-size:3vw;
  font-family: 'Goldman', cursive;
}
